<div class="col-lg-12">
  <div class="card">
    <div class="card-header"><strong>Thêm Sản Phẩm</strong></div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <!-- <div class="form-group row">
                <label class="col-md-3 col-form-label">Static</label>
                <div class="col-md-9">
                  <p class="form-control-static">Username</p>
                </div>
              </div> -->
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Mã Sản Phẩm <span>*</span></label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text"
                  [value]="detail.Data.Id" disabled />
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2">Nhãn Hiệu Sản Phẩm <span>*</span></label>
              <div class="col-md-9">
                <select disabled id="select2" name="select2" class="form-control form-control-lg">
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Tên Sản Phẩm <span>*</span></label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="Name" [value]="detail.Data.Name" class="form-control"
                  placeholder="Text" [disabled]="detail? true:false" />
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2">Mặt Kính<span>*</span></label>
              <div class="col-md-9">
                <select id="select2" name="Crytal" [value]="detail.Data.Crytal" class="form-control form-control-lg">
                  <option value="0">Please select</option>
                  <option value="Kính khoáng (Mineral)">Kính Khoáng</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2">Dây Đeo <span>*</span></label>
              <div class="col-md-9">
                <select id="select2" name="" class="form-control form-control-lg">
                  <option value="0">Please select</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2">Độ Chống Nước <span>*</span></label>
              <div class="col-md-9">
                <select id="select2" name="select2" class="form-control form-control-lg">
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Bảo Hành</label>
              <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" />
                <!-- <span class="help-block">Please enter a valid date</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2">Xuất Xứ <span>*</span></label>
              <div class="col-md-9">
                <select id="select2" name="select2" class="form-control form-control-lg">
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Mô Tả Sản Phẩm</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                  placeholder="Content.."></textarea>
              </div>
            </div>
          </div>
          <div class="col-6">
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-multiple-input"
                >Thêm Ảnh Sản Phẩm</label
              >
            </div> -->
            <div class="card" style="width: 18rem">
              <img class="card-img-top" src="..." alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">Thêm Ảnh Sản Phẩm</h5>
                <!-- <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-block btn-outline-success active" aria-pressed="true">
                    Success
                  </button>
                  <button type="button" class="btn btn-block btn-outline-danger active" aria-pressed="true">
                    Danger
                  </button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0"></div>
              </div>
              <!-- <div class="col-md-9">
                <input
                  type="file"
                  id="file-multiple-input"
                  name="file-multiple-input"
                  multiple
                /> -->
            </div>
            <button type="reset" class="btn btn-sm btn-danger">
              <i class="fa fa-ban"></i> xóa Sản Phẩm
            </button>
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
            </button>
          </div>

          <button type="reset" class="btn btn-sm btn-primary">
            <i class="fa fa-ban"></i> Thêm Loại Sản Phẩm
          </button>
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
          </button>
          <!-- <div class="card-footer">
                            <button type="reset" class="btn btn-sm btn-danger">
                              <i class="fa fa-ban"></i> Thêm Loại Sản Phẩm
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary">
                              <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
                            </button>
                          </div> -->
          <div class="card-header-actions" style="height: 21px">
            <label class="switch switch-sm switch-label switch-info">
              <input type="checkbox" class="switch-input" checked />
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>
      </form>

      <!-- thêm loại sản phẩm pop up -->
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <strong>Thêm Loại Sản Phẩm</strong>
                </div>
                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label">Static</label>
            <div class="col-md-9">
              <p class="form-control-static">Username</p>
            </div>
          </div> -->
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="text-input">Tên Sản Phẩm <span>*</span></label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control"
                              placeholder="Text" />
                            <!-- <span class="help-block">This is a help text</span> -->
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="text-input">Giá <span>*</span></label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control"
                              placeholder="Text" />
                            <!-- <span class="help-block">This is a help text</span> -->
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="text-input">Giá Khuyến Mãi <span>*</span></label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control"
                              placeholder="Text" />
                            <!-- <span class="help-block">This is a help text</span> -->
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="text-input">Số Lượng Tồn<span>*</span></label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control"
                              placeholder="Text" />
                            <!-- <span class="help-block">This is a help text</span> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="file-multiple-input">Thêm Ảnh Sản Phẩm</label>
                          <div class="col-md-9">
                            <input type="file" id="file-multiple-input" name="file-multiple-input" multiple />
                          </div>
                        </div>
                        <div class="col-md-9">
                          <button type="reset" class="btn btn-sm btn-danger form-control-lg">
                            <i class="fa fa-ban"></i> xóa Sản Phẩm
                          </button>
                          <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
                          </button>
                        </div>

                        <button type="reset" class="btn btn-sm btn-primary">
                          <i class="fa fa-ban"></i> Thêm Loại Sản Phẩm
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary">
                          <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
                        </button>
                        <!-- <div class="card-footer">
                    <button type="reset" class="btn btn-sm btn-danger">
                      <i class="fa fa-ban"></i> Thêm Loại Sản Phẩm
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary">
                      <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
                    </button>
                  </div> -->
                        <div class="card-header-actions" style="height: 21px">
                          <label class="switch switch-sm switch-label switch-info">
                            <input type="checkbox" class="switch-input" checked />
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div>
          <div class="card-footer">
            <button type="reset" class="btn btn-sm btn-danger">
              <i class="fa fa-ban"></i> Thêm Loại Sản Phẩm
            </button>
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
            </button>
          </div> -->
    </div>
  </div>
</div>