<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong>Thêm Sản Phẩm</strong>
      <a class="ml-1 btn btn-primary" [routerLink]="['/base/product']"
        ><strong>Quay lại</strong></a
      >
    </div>

    <div class="card-body">
      <form
        action=""
        method="post"
        enctype="multipart/form-data"
        class="form-horizontal"
      >
        <!-- <div class="form-group row">
                <label class="col-md-3 col-form-label">Static</label>
                <div class="col-md-9">
                  <p class="form-control-static">Username</p>
                </div>
              </div> -->
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"
                >Mã Sản Phẩm <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  id="text-input"
                  name="text-input"
                  class="form-control"
                  placeholder="Text"
                  [value]="detail.Data.Id"
                />
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2"
                >Nhãn Hiệu Sản Phẩm <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <select
                  id="select2"
                  name="BrandName"
                  [value]="detail.Data.BrandName"
                  class="form-control form-control-lg"
                >
                  <option value="0">Please select</option>
                  <option value="Rolex">Rolex</option>
                  <option value="Rolex">Rolex</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"
                >Tên Sản Phẩm <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  id="text-input"
                  name="Name"
                  [value]="detail.Data.Name"
                  class="form-control"
                  placeholder="Text"
                  [disabled]="detail ? true : false"
                />
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2"
                >Mặt Kính<span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <select
                  id="select2"
                  name="Crytal"
                  [value]="detail.Data.Crytal"
                  class="form-control form-control-lg"
                >
                  <option value="0">Please select</option>
                  <option value="Kính khoáng (Mineral)">Kính Khoáng</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2"
                >Dây Đeo <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <select
                  id="select2"
                  name="Ablert"
                  [value]="detail.Data.Ablert"
                  class="form-control form-control-lg"
                >
                  <option value="0">Please select</option>
                  <option value="Thép không gỉ">Thép không gỉ</option>
                  <option value="Thép không gỉ">Thép không gỉ</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2"
                >Độ Chống Nước <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <select
                  id="select2"
                  name="WaterProofName"
                  [value]="detail.Data.WaterProofName"
                  class="form-control form-control-lg"
                >
                  <option value="0">Please select</option>
                  <option value="20 Atm">20 Atm</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input"
                >Bảo Hành</label
              >
              <div class="col-md-9">
                <input
                  class="form-control"
                  id="date-input"
                  type="date"
                  name="Guarantee"
                  [value]="detail.Data.Guarantee"
                  placeholder="date"
                />
                <!-- <span class="help-block">Please enter a valid date</span> -->
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2"
                >Xuất Xứ <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <select
                  id="select2"
                  name="Machine"
                  [value]="detail.Data.Machine"
                  class="form-control form-control-lg"
                >
                  <option value="0">Xuất Xứ</option>
                  <option value="Trung Quốc ">Trung Quốc</option>
                </select>
              </div>
            </div> -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select2"
                >Xuất Sứ <span class="text-danger">*</span></label
              >
              <div class="col-md-9">
                <select
                  id="select2"
                  name="MadeIn"
                  [value]="detail.Data.MadeIn"
                  class="form-control form-control-lg"
                >
                  <option value="0">Please select</option>
                  <option value="trung quốc">Trung Quốc</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input"
                >Mô Tả Sản Phẩm</label
              >
              <div class="col-md-9">
                <textarea
                  id="textarea-input"
                  name="Description"
                  rows="9"
                  [value]="detail.Data.Description"
                  class="form-control"
                  placeholder="Content.."
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-6">
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-multiple-input"
                >Thêm Ảnh Sản Phẩm</label
              >
            </div> -->
            <div class="card" style="width: 18rem">
              <img class="card-img-top" src="..." alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">Thêm Ảnh Sản Phẩm</h5>
                <!-- <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <div class="col-lg-12 row">
                  <div class="col-sm-6 col-sm-6 mb-xl-0">
                    <button
                      type="button"
                      class="btn btn-block btn-outline-success active"
                      aria-pressed="true"
                    >
                      Thêm
                    </button>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button
                      type="button"
                      class="btn btn-block btn-outline-danger active"
                      aria-pressed="true"
                    >
                      Xóa
                    </button>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-9">
                <input
                  type="file"
                  id="file-multiple-input"
                  name="file-multiple-input"
                  multiple
                /> -->
            </div>
            <button
              class="btn btn-lg btn-outline-primary"
              (click)="largeModal.show()"
            >
              Thêm Loại Sản Phẩm
            </button>
            <button
              type="button"
              class="btn btn-outline-success active ml-1"
              aria-pressed="true"
            >
              Thêm Sản Phẩm
            </button>
          </div>

          <!-- <button
            type="button"
            class="btn btn-outline-success active"
            aria-pressed="true"
          >
            Thêm Sản Loại Phẩm
          </button>
          <button
            type="button"
            class="btn btn-outline-success active ml-1"
            aria-pressed="true"
          >
            Thêm Sản Phẩm
          </button> -->
          <!-- <div class="card-footer">
                            <button type="reset" class="btn btn-sm btn-danger">
                              <i class="fa fa-ban"></i> Thêm Loại Sản Phẩm
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary">
                              <i class="fa fa-dot-circle-o"></i> Thêm Sản Phẩm
                            </button>
                          </div> -->
          <!-- <div class="card-header-actions" style="height: 21px">
            <label class="switch switch-sm switch-label switch-info">
              <input type="checkbox" class="switch-input" checked />
              <span
                class="switch-slider"
                data-checked="On"
                data-unchecked="Off"
              ></span>
            </label>
          </div> -->
        </div>
      </form>

      <!-- thêm loại sản phẩm pop up -->

      <!-- /.modal -->
    </div>
  </div>
</div>
<div
  bsModal
  #largeModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <form
      [formGroup]="typeForm"
      (ngSubmit)="addTypeProduct(typeForm)"
      class="modal-content"
    >
      <div class="modal-header">
        <h4 class="modal-title">Thêm Loại Sản Phẩm</h4>
        <button
          type="button"
          class="close"
          (click)="largeModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="col-7">
              <div class="row">
                <div class="form-group col-lg-12">
                  <label for=""
                    >Tên Sản Phẩm <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="nf-email"
                    name="Name"
                    formControlName="Name"
                    class="form-control"
                    placeholder="Tên Sản Phẩm"
                    autocomplete="email"
                  />
                  <!-- <span class="help-block">Please enter your email</span> -->
                </div>
                <div class="form-group col-lg-12">
                  <label for=""
                    >Giá Bán <span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    id="nf-password"
                    name="OriginalPrice"
                    formControlName="OriginalPrice"
                    class="form-control"
                    placeholder="Giá Bán"
                    autocomplete="current-password"
                  />
                  <!-- <span class="help-block">Please enter your password</span> -->
                </div>
                <div class="form-group col-lg-12">
                  <label for="">Giá Khuyến Mãi </label>
                  <input
                    type="number"
                    id="nf-password"
                    name="PromotionPrice"
                    formControlName="PromotionPrice"
                    class="form-control"
                    placeholder="Giá Khuyến Mãi"
                    autocomplete="current-password"
                  />
                  <!-- <span class="help-block">Please enter your password</span> -->
                </div>
                <div class="form-group col-lg-12">
                  <label for=""
                    >Số Lượng Tồn<span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    id="nf-password"
                    name="Stock"
                    formControlName="Stock"
                    class="form-control"
                    placeholder="Số Lượng Tồn"
                    autocomplete="current-password"
                  />
                  <!-- <span class="help-block">Please enter your password</span> -->
                </div>
                <div class="form-group col-lg-12">
                  <label class="switch switch-label switch-pill switch-success">
                    <input type="checkbox" class="switch-input" checked />
                    <span
                      name="IsShow"
                      class="switch-slider"
                      data-checked="On"
                      data-unchecked="Off"
                    ></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">Thêm Ảnh Sản Phẩm</h5>
                  <!-- <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                  </p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <div class="col-lg-12 row">
                    <div class="col-sm-6 col-sm-6 mb-xl-0">
                      <button
                        type="button"
                        class="btn btn-block btn-outline-success active"
                        aria-pressed="true"
                      >
                        Thêm
                      </button>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                      <button
                        type="button"
                        class="btn btn-block btn-outline-danger active"
                        aria-pressed="true"
                      >
                        Xóa
                      </button>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-9">
                  <input
                    type="file"
                    id="file-multiple-input"
                    name="file-multiple-input"
                    multiple
                  /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="largeModal.hide()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">
          Thêm Loại Sản Phẩm
        </button>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
