<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <a class="ml-1 btn btn-primary" [routerLink]="['/base/product']"><strong>Quay lại</strong></a>
      <strong class="float-right">Chi Tiết Sản Phẩm</strong>
    </div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Mã Sản Phẩm
              </label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" readonly class="form-control-plaintext"
                  placeholder="Text" [value]="detail?.Id" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Danh Mục Sản Phẩm
              </label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="CategoryName" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.CategoryName" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Nhãn Hiệu Sản Phẩm
              </label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="BrandName" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.BrandName" disabled />
              </div>
            </div>

            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Tên Sản Phẩm
              </label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="Name" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.Name" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Mặt Kính
              </label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="Crytal" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.Crytal" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Dây Đeo</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="Ablert" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.Ablert" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Độ Chống Nước
              </label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="WaterProofName" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.WaterProofName" disabled />
              </div>
            </div>

            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Bảo Hành</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="Guarantee" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.Guarantee" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Xuất Xứ</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="MadeIn" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.MadeIn" disabled />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Mô Tả Sản Phẩm</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="Description" rows="15" [value]="detail?.Description" readonly
                  class="form-control-plaintext" placeholder="Content.." disabled></textarea>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Giá từ</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="FromPrice" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.FromPrice" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-3 col-form-label">Đến</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="ToPrice" readonly class="form-control-plaintext"
                  placeholder="text" [value]="detail?.ToPrice" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input" class="col-md-4 col-form-label">Ảnh đại diện sản phẩm</label>
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="{{detail?.Thumbnail}}" alt="Card image cap" />
              </div>
            </div>
            <label for="text-input" class="col-md-4 col-form-label">Thông tin chi tiết loại sản phẩm</label>
            <div *ngFor="let ClassifyProduct of ClassifyProducts"
              class="product flex pad-10 d-flex p-2 border border-secondary">
              <div>
                <img src="{{ ClassifyProduct.Image }}" alt="" class="d-block" width="100px" />
              </div>

              <div class="product_info flex-grow-3">
                <div class="detail">
                  <p class="name">
                    <strong>Tên Loại Sản Phẩm:</strong> {{ ClassifyProduct.Name }}
                  </p>
                  <p class="money">
                    <strong>Giá Gốc: </strong>{{ ClassifyProduct.OriginalPrice }} VND
                  </p>
                  <p class="money">
                    <strong>Giá Khuyến Mãi: </strong>{{ ClassifyProduct.PromotionPrice }} VND
                  </p>
                  <p class="Stock">
                    <strong>Số Lượng Tồn: </strong>{{ ClassifyProduct.Stock }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>